{% extends 'base.html' %}

{% block title %}Guest List{% endblock title %}

{% block content %}


    {% comment %} <h3 for="search-input">Search by name</h3>
    <div class="input-group">    
        <input class="form-control" type="text" name="search" id="search-input" placeholder="Search" hx-target="#data-obj" hx-get="{% url 'guest-list' %}" 
        hx-trigger="keyup changed delay:200ms" hx-swap="innerHTML">
    </div> {% endcomment %}

    {% comment %} <form action="{% url 'home' %}?search={{q}}" method="get"> {% endcomment %}
    
    {% comment %} </form> {% endcomment %}
    <div class="card card-primary card-outline">
        <div class="card-body">
            <h3>Cari berdasar Tanggal</h3>
        
            {% comment %} <form action="{% url 'home' %}?date={{d}}" method="get" id='date-form'> {% endcomment %}
                <input class="form-control" min="{{min_date}}" type="date" name="date"  id="date" 
                hx-target="#data-obj" hx-get="{% url 'guest-list' %}" 
                hx-trigger="input delay:200ms" hx-swap="innerHTML">
            {% comment %} </form> {% endcomment %}
        
            <br>
            <h3>Filter berdasar bulan</h3>
        
            {% comment %} <form action="{% url 'home' %}?month={{m}}" method="get" id='month-form'> {% endcomment %}
                <input class="form-control calendar" min="{{min_month}}" type="month" name="month" id="" hx-target="#data-obj" hx-get="{% url 'guest-list' %}" 
                hx-trigger="input delay:200ms" hx-swap="innerHTML">

        </div>
        <div class="card-footer">
            <h3>Filter data timespan</h3>
            <form action="" method="GET">
                    <div class="row justify-content-around">
                        <div class="form-group col-4">
                            <label for="date1">Dari tanggal</label>
                            <input class=" form-control calendar" min="{{min_date}}" type="date" name="date1" id="date">                
                        </div>
                        <div class="form-group col-4">
                            <label for="date1">Ke tanggal</label>
                            <input class=" form-control calendar" min="{{min_date}}" type="date" name="date2" id="date">
                        </div>

                    </div>
                    <center><button class="btn btn-primary w-50" type="submit">Cari</button></center>
            </form>
        </div>
    </div>
    {% comment %} </form> {% endcomment %}
    <div class="htmx-indicator">
        <span>Loading...</span>
        <div class="spinner-border" role="status">
        </div>
    </div>
    <div class="card card-outline card-primary">


            {% include 'base/components/guest-table.html' %}

    </div>



{% endblock content %}
