{% extends 'base.html' %}
{% block title %}New Guest{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
  <div class="card card-primary">
    <div class="card-header">
      <h3>Form Tamu Baru</h3>
    </div>
    <div class="card-body">

      <form action="" method="post">
          {% csrf_token %}
          {% if page == new %}
          {% crispy form%}
          {% else %}
          {% crispy form%}
          {% endif %}
          <br>
      </form>
      {% if messages %}
      {% for message in messages %}
        <p class="text-danger">{{message}}</p>
      {% endfor %}
      {% endif %}
    </div>
  </div>
    
</div>


{% endblock content %}
{% block moment %}
<script>

    {% comment %} date = document.getElementById("id_reserve_time")
    date.value = '{{obj.reserve_time|date:"Y-m-d H:i:s"}}'
    console.log( date.value = '{{obj.reserve_time|date:"Y-m-d H:i:s"}}') {% endcomment %}

</script>
{% endblock moment %}
