{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

<style>
    .information .card {
        height: 120px;
    }
</style>

<div class="container-fluid px-4">
    <div class="row information">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Total Pengunjung Keseluruhan</div>
                <div clas="card-body"><h2 class="ps-3">{{allGuestCount}}</h2></div>
               
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-dark text-white mb-4">
                <div class="card-body">Pengunjung Hari Ini</div>
                <div clas="card-body"><h2 class="ps-3">{{todayGuest}}</h2></div>
              
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Total Pengunjung Bulan {{actualMonth}} {{year}}</div>
                
                <div clas="card-body"><h2 class="ps-3">{{thisMonthGuest}}</h2></div>
           
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Total Pengunjung Tahun {{year}}</div>
                <div clas="card-body"><h2 class="ps-3">{{thisYearGuest}}</h2></div>
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Pengunjung Bulanan Tahun {{year}}
                </div>
                <div class="card-body"><canvas id="myChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Pengunjung Harian Bulan {{actualMonth}} Tahun {{year}}
                </div>
                <div class="card-body"><canvas id="dailyChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            List Pengunjung
        </div>
        <div class="card-body">
            <table id="monthlyDataTables" data-toggle="table" class="table table-hover border table-bordered">
                <thead class="thead bg-secondary text-light">
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Alamat</th>
                        <th>Hp</th>
                        <th>Keperluan</th>
                        <th>Jadwal Datang</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in guestList%}
                    <tr>
                        <th scope='row'>{{forloop.counter}}</th>
                        <td>{{obj.id}}</td>
                        <td>{{obj.name}}</td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.address}}</td>
                        <td>{{obj.phone}}</td>
                        <td>{{obj.needs}}</td>
                        <td>{{obj.reserve_time|date:"l, d F Y, H:i"}}</td>
                        {% endfor %}
                    </tr>
                   
                </tbody>

            </table>
        </div>
    </div>
</div>
{% include 'base/components/chart-script.html' %}
{% endblock content %}